.evt-container {
  /* addon css code goes here */
}

.evt-container .section-banner {
  height: 580px;
  text-align: center;
  background: url("../images/banner-bg.jpg");
}

.evt-container .section-banner .item {
  position: absolute;
  top: 66px;
  left: 130px;
}

.evt-container .section-main {
  height: 1000px;
  background: url("../images/bg.jpg") repeat;
}

.evt-container .section-main .item {
  position: absolute;
}

.evt-container .section-main .cake {
  top: -20px;
  left: -10px;
}

.evt-container .section-main .w1 {
  top: 80px;
  left: 530px;
}

.evt-container .swiper-container {
  position: absolute;
  top: 600px;
  width: 348px;
  height: 216px;
}

.evt-footer {
  position: relative;
  background-color: #fff;
  z-index: 10;
}

.evt-footer .footer-bd {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

.evt-footer .evt-rules {
  padding-left: 138px;
  padding-top: 30px;
  color: #907e59;
}

.evt-footer .evt-rules h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.evt-footer .evt-rules p {
  font-size: 16px;
  line-height: 1.5;
  padding-left: 1.5em;
  text-indent: -1.5em;
}
